@import 'utils';
@import 'typography';
@import 'reset';
@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/icons';

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  background: $c-light-blue;
  color: $c-black;
}
