%h1 {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 85%;

  /* or 54px */

  letter-spacing: -0.05em;
  text-transform: uppercase;
}

%h2 {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 85%;

  /* identical to box height, or 41px */

  letter-spacing: -0.05em;
  text-transform: uppercase;
}

@include tablet {
  %h1 {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 85%;

    /* identical to box height, or 68px */

    letter-spacing: -0.05em;
    text-transform: uppercase;
  }

  %h2 {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 85%;

    /* identical to box height, or 48px */

    letter-spacing: -0.05em;
    text-transform: uppercase;
  }
}

@include desktop {
  %h1 {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 135px;
    line-height: 85%;

    /* or 122px */

    letter-spacing: -0.05em;
    text-transform: uppercase;
  }

  %h2 {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 85%;

    /* or 61px */

    letter-spacing: -0.05em;
    text-transform: uppercase;
  }
}

%p {
  /* Body text */

  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;

  /* identical to box height, or 24px */

  letter-spacing: -0.01em;
}

%h3 {
  /* Big text */

  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 85%;

  /* identical to box height, or 82px */

  letter-spacing: -0.05em;
  text-transform: uppercase;
}

%span {
  /* Uppercase */

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;

  /* identical to box height, or 16px */

  letter-spacing: 0.02em;
  text-transform: uppercase;
}
